@{
    ViewBag.Title = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/w3.css">
</head>

<div class="jumbotron">
    <img src="http://i.imgur.com/I6O4DCE.png" />
</div>

<div class="row">
    <div class="w3-container w3-center w3-margin-bottom">
        <div class="w3-card-24 w3-indigo">
            <h2><br>Welcome to RSY Fitness GYM's Website!<br></h2><br>
        </div><br>
        <div class="w3-row-padding">
            <div class="w3-third">
                <div class="w3-card-24 w3-indigo">
                    <br>
                        <img src="http://i.imgur.com/T3knjoe.jpg" width=300 height=350 alt="Image">
                        <h3><i>Facilities</h3>
                </div>
            </div>
            <div class="w3-third">
                <div class="w3-card-24 w3-indigo">
                    <br>
                        <img src="http://i.imgur.com/6PejDf1.jpg" width=300 height=350 alt="Image">
                        <h3>RSY Shirts!!</h3>       
                </div>
            </div>
            <div class="w3-third">
                <br>
                <br>
                <div class="w3-card-24 w3-indigo w3-padding">
                    <h4 align="left"> Why choose RSY?</h4>
                    <p>Because you deserve better and RSY is the best.</p>
                </div><br>
                <div class="w3-card-24 w3-indigo w3-padding">
                    <h4 align="left">How do I join RSY?</h4>
                    <p>Simply visit us <a href="https://maps.here.com/directions/mylocation/RSY-Fitness-Gym:14.55585,121.075891?map=14.55585,121.075891,12&ref=facebook&link=addresses&fb_locale=en_US">here</a> and register or register online then confirm it after visiting us.</p>
                </div>
            </div>
        </div>
        <br>
    </div>


</div>